figure.userProfileInf .userImage img{
    border-radius: 70px;
}



.modal-post-cta{
    margin-top: 15px;
}

#fbPostPreview .modal-body{
    overflow: hidden !important;
}

#postChallengeOnFb{
    margin-left: 10px;
}

#momByFbWrapper{
    display: none;
}

.frmLGDef .form-control.fbkSearchInput{
    width:100%;
    max-width:100%;
}

#generateChallenge{
    text-align: left;
    float: left;
    margin: 20px 0 10px;
    padding: 7px 22px;
    color: #fff;
    background: #AD1651;
}

#genChallengeBtnWrapper{
    width: 138px;
    overflow: hidden;
    margin: 0 auto;
}

#generateChallenge:hover{
    background: #AD1651;
    /*color: #af1650;*/
}

#postChallengeOnFb, #cancelPostChallegeOnFb{
    text-align: left;
    float: left;
    margin: 20px 0 10px;
    padding: 7px 22px;
    color: #fff;
    background: #af1650;
    border-radius: 18px;
    font-family: 'lg_smartregular';
    cursor:pointer;
    font-size: 16px;
}

#cancelPostChallegeOnFb{
    background: #4c4c4c;
    margin-right: 10px;
}

#homeWarningTxt{

  position: relative;
  top: 74px;
  z-index: 50;
  margin-left: 37px;
  display: inline-block;

}

.warning-txt{
    font-family: 'PT Sans', sans-serif !important;
    color: #505050 !important;
    font-size: 11px !important;
}

#prizesWarningTxt{
    position: relative;
    display: inline-block;
}

.mrg-fix{
    position: relative !important;
    margin-top: -50px;
}

.ovrfwd{
    width: 230px;
}


#registerForm .sbmtCta[disabled] {
  background-color: #793232;
  border-color: #ccc;
}

#engagementHint{
    font-style: italic !important;
    font-size: 15px;
    text-align: center;
    color: #af1650;
}

.infoWinners .childInfo img{
    border-radius: 70px;
}

/*Greater or equal than 768*/
@media screen and (min-width:768px) {

    #userDataWrapper{
        margin-top: 203px;
    }

    #prizesWarningTxt{
        /*left: 155px*/;
    }

}