h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  /*color: #333333;*/
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  /*color: #808080;*/
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #474949 0%, #292a2a 100%);
  background-image: linear-gradient(to bottom, #474949 0%, #292a2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff474949', endColorstr='#ff292a2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #242525;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #292a2a;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #292a2a;
  border-color: #242525;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #9c9c9c 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #9c9c9c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ff9c9c9c', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #979797;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #9c9c9c;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #9c9c9c;
  border-color: #979797;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #469408 0%, #2b5a05 100%);
  background-image: linear-gradient(to bottom, #469408 0%, #2b5a05 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff469408', endColorstr='#ff2b5a05', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #265004;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #2b5a05;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #2b5a05;
  border-color: #265004;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #029acf 0%, #016d92 100%);
  background-image: linear-gradient(to bottom, #029acf 0%, #016d92 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff029acf', endColorstr='#ff016d92', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #016588;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #016d92;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #016d92;
  border-color: #016588;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #9b479f 0%, #723475 100%);
  background-image: linear-gradient(to bottom, #9b479f 0%, #723475 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9b479f', endColorstr='#ff723475', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #6b316e;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #723475;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #723475;
  border-color: #6b316e;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9831f 0%, #a36317 100%);
  background-image: linear-gradient(to bottom, #d9831f 0%, #a36317 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9831f', endColorstr='#ffa36317', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #9b5d16;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #a36317;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #a36317;
  border-color: #9b5d16;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.275);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.275);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #aeaeae 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #aeaeae 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffaeaeae', GradientType=0);
  background-color: #aeaeae;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #aeaeae 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #aeaeae 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffaeaeae', GradientType=0);
  background-color: #aeaeae;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #fafafa 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #fafafa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#fffafafa', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #d4d4d4 0%, #bbbbbb 100%);
  background-image: linear-gradient(to bottom, #d4d4d4 0%, #bbbbbb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd4d4d4', endColorstr='#ffbbbbbb', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #c1c1c1 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #c1c1c1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffc1c1c1', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  border-color: #9acfea;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  border-color: #dca7a7;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #a2a2a2 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #a2a2a2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffa2a2a2', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #469408 0%, #2f6405 100%);
  background-image: linear-gradient(to bottom, #469408 0%, #2f6405 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff469408', endColorstr='#ff2f6405', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #029acf 0%, #02749c 100%);
  background-image: linear-gradient(to bottom, #029acf 0%, #02749c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff029acf', endColorstr='#ff02749c', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #9b479f 0%, #79377c 100%);
  background-image: linear-gradient(to bottom, #9b479f 0%, #79377c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9b479f', endColorstr='#ff79377c', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #d9831f 0%, #ac6819 100%);
  background-image: linear-gradient(to bottom, #d9831f 0%, #ac6819 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9831f', endColorstr='#ffac6819', GradientType=0);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #a2a2a2;
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #a8a8a8 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #a8a8a8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffa8a8a8', GradientType=0);
  border-color: #a8a8a8;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #efefef 100%);
  background-image: linear-gradient(to bottom, #fcfcfc 0%, #efefef 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcfcfc', endColorstr='#ffefefef', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #aeaeae 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #aeaeae 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffaeaeae', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #469408 0%, #3b7c07 100%);
  background-image: linear-gradient(to bottom, #469408 0%, #3b7c07 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff469408', endColorstr='#ff3b7c07', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #029acf 0%, #0287b6 100%);
  background-image: linear-gradient(to bottom, #029acf 0%, #0287b6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff029acf', endColorstr='#ff0287b6', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #9b479f 0%, #8a3f8d 100%);
  background-image: linear-gradient(to bottom, #9b479f 0%, #8a3f8d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9b479f', endColorstr='#ff8a3f8d', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9831f 0%, #c3761c 100%);
  background-image: linear-gradient(to bottom, #d9831f 0%, #c3761c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9831f', endColorstr='#ffc3761c', GradientType=0);
}
.well {
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f4f4f4 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f4f4f4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff4f4f4', GradientType=0);
  border-color: #dbdbdb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

video{margin:0 auto;display:block;}

    .vjs-fullscreen { padding-top: 0px; }
    .fluid-width-video-wrapper /*.video-js*/ {position: absolute;top: 0;left: 0;width: 100%!important;height: 100%!important;}
    .video-container { position:relative; padding-bottom:56.25%; padding-top:30px; height:0;overflow:hidden; }
    .video-container iframe, .video-container object, .video-container embed { position:absolute; top:0; left:0; width:100%; height:100%; }
    .vimeovideowrap, .content, .youtubevideowrap, #disqus_thread, .videocontent { width:80%; max-width: 640px; margin: 0 auto; }
    .videocontent2 { min-width: 230px; }
    .content { margin-bottom: 100px; }
    markup, mark { background: #f9f8d4; padding: 1px; }
    img { max-width: 101%; /*box-shadow: 2px 2px 10px #999;*/ }
    /*IE9 for VFE*/
    video{ width:100%; height:100%; }


/*LG STYLES MOTHERS LANDING CUSTOMS*/
@font-face {
    font-family: 'lg_smartlight';
    src: url('../fonts/LG/LGSmart_Light-webfont.eot');
    src: url('../fonts/LG/LGSmart_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LG/LGSmart_Light-webfont.woff2') format('woff2'),
         url('../fonts/LG/LGSmart_Light-webfont.woff') format('woff'),
         url('../fonts/LG/LGSmart_Light-webfont.ttf') format('truetype'),
         url('../fonts/LG/LGSmart_Light-webfont.svg#lg_smartlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lg_smartsemibold';
    src: url('../fonts/LG/LGSmart_SemiBold-webfont.eot');
    src: url('../fonts/LG/LGSmart_SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LG/LGSmart_SemiBold-webfont.woff2') format('woff2'),
         url('../fonts/LG/LGSmart_SemiBold-webfont.woff') format('woff'),
         url('../fonts/LG/LGSmart_SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/LG/LGSmart_SemiBold-webfont.svg#lg_smartsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lg_smartbold_italic';
    src: url('../fonts/LG/LGSmart_Bold_Italic-webfont.eot');
    src: url('../fonts/LG/LGSmart_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LG/LGSmart_Bold_Italic-webfont.woff2') format('woff2'),
         url('../fonts/LG/LGSmart_Bold_Italic-webfont.woff') format('woff'),
         url('../fonts/LG/LGSmart_Bold_Italic-webfont.ttf') format('truetype'),
         url('../fonts/LG/LGSmart_Bold_Italic-webfont.svg#lg_smartbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lg_smartbold';
    src: url('../fonts/LG/LGSmart_Bold-webfont.eot');
    src: url('../fonts/LG/LGSmart_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LG/LGSmart_Bold-webfont.woff2') format('woff2'),
         url('../fonts/LG/LGSmart_Bold-webfont.woff') format('woff'),
         url('../fonts/LG/LGSmart_Bold-webfont.ttf') format('truetype'),
         url('../fonts/LG/LGSmart_Bold-webfont.svg#lg_smartbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lg_smartregular_italic';
    src: url('../fonts/LG/LGSmart_Regular_Italic-webfont.eot');
    src: url('../fonts/LG/LGSmart_Regular_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LG/LGSmart_Regular_Italic-webfont.woff2') format('woff2'),
         url('../fonts/LG/LGSmart_Regular_Italic-webfont.woff') format('woff'),
         url('../fonts/LG/LGSmart_Regular_Italic-webfont.ttf') format('truetype'),
         url('../fonts/LG/LGSmart_Regular_Italic-webfont.svg#lg_smartregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lg_smartregular';
    src: url('../fonts/LG/LGSmart_Regular-webfont.eot');
    src: url('../fonts/LG/LGSmart_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LG/LGSmart_Regular-webfont.woff2') format('woff2'),
         url('../fonts/LG/LGSmart_Regular-webfont.woff') format('woff'),
         url('../fonts/LG/LGSmart_Regular-webfont.ttf') format('truetype'),
         url('../fonts/LG/LGSmart_Regular-webfont.svg#lg_smartregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a, input[type="submit"] { transition: all .4s; color: #3f3f3f; }
a:link, a:visited{ color: #ca1642; }
a:hover, input[type="submit"]:hover{ transition: all .3s; text-decoration: none !important; }
a:active{ transition: all .3s; color: #ca1642; }

  /*GENERALS*/
  html,body{height:100%;}
    body.lg-mothers{ font-family: 'PT Sans', sans-serif; padding-top: 130px; background: #fff url(../imgs/bgTopFix.jpg) center top repeat-x; position: relative; }
      body.lg-mothers.fixBg{ background-attachment: fixed; }
      body.lg-mothers:before{ position: fixed; height: 100%; width: 100%; background: transparent url(../imgs/patternLightsOptm.png) center top repeat-x fixed; content: ''; left: 0; top: 0; background-size: cover;  }
      body.lg-mothers.toTop{ padding-top: 0; }
      body.lg-mothers.toTop .navbar-fixed-top{ position: relative; padding-top: 0px; }
    p{ font-size: 16px; font-family: 'PT Sans', sans-serif; color: #a1a1a1; font-weight: 100; }
    a{ color: #da0051; } a:hover{ text-decoration: underline; color: #1a1a1a; }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ font-family: 'lg_smartregular', sans-serif; }
    h1{ font-family: 'lg_smartsemibold', sans-serif; font-size: 45px; color: #da0051;}
    h2{ font-size: 36px; font-family: 'lg_smartregular', sans-serif; color: #da0051; margin: 2px 0 8px; line-height: 1em; }
    h3{ font-size: 30px; font-family: 'lg_smartregular', sans-serif; color: #da0051;  }
    h4{ font-size: 24px; color: #da0051; line-height: 1em; }
    .navbar{ background-color: transparent; }
      body.lg-mothers .navbar-fixed-top{ /*background: #fff url(../imgs/bgTopFix.jpg) center top no-repeat;*/background: none; background-image: none; background-repeat: no-repeat; background-color: #fff; background-color: rgba(255,255,255,.25);
          transition: background-color .5s; }
      body.lg-mothers .sg-head{ /*border-bottom: 2px solid #e7e7e7;*/ padding-top: 22px; padding-bottom: 22px; background-color: transparent;box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.015);
      }


    /*CLEARS*/
      /*.clearfix.visible-xs-block, .clearfix.visible-xs{ display: block !important; }*/
      .clearfix.visible-md{ display: block !important; visibility: hidden; }

  /*HEADER*/
  .headLG{}
    a.logoHead, nav.navHead{ position: relative; display: inline-block; }
    nav.navHead{ margin-left: 35px; position: relative; top: 5px }
    nav.navHead li, .navFoot li{ display: inline-block; font-size: 16px; color: #76797b; font-weight: bolder; margin: 2px 5px; font-family: 'lg_smartsemibold', sans-serif;  }
       nav.navHead li a, .navFoot li a{ color: #76797b; text-decoration: none; }
        nav.navHead li a:hover, .navFoot li a:hover{ text-decoration: underline !important; color: #4c4c4c }
          nav.navHead li a.active, .navFoot li a.active{ font-weight: bolder; color: #ca1642; text-decoration: none; }
        .navSocialHead{ position: relative; margin-top: 17px; text-align: left; }
        .navSocialHead .fa-2x{ font-size: 1.5em; position: relative; top: 2px; }
        .navSocialHead li:last-child .fa-2x{ top: 0; left: 1px; }
        .navSocialHead > li { list-style: none; display: inline-block; margin: 2px 5px; text-align: center; position: relative; }
          .navSocialHead li .titNets{ font-size: 16px; margin-right: 7px; color: #76797b  }
          .navSocialHead li a{ display: block; background-color: #c1c1c1; background-color: rgba(193,193,193,.95); border-radius: 50%; padding: 8px 10px; text-align: center; }
          nav.navSocialHead li:nth-child(2) a{ padding: 8px 15px; }
            .navSocialHead li a:hover{ background-color: #af1650; }
        .navSocialHead > li a { color: #fff; text-decoration: none; }
          .navSocialHead li a.extBtn{ border-radius: 5px; color: #fff; text-transform: uppercase; padding: 2px 10px; font-size: 14px; font-weight: normal; position: relative; top: -10px; left: 10px; }
          .navSocialHead li a.extLink{ border-radius: 0; background-color: transparent; }
          .navSocialHead li:last-child{ position: absolute; bottom: -20px; right: 25px; }
            .headLG .navbar-collapse.collapse{ clear: both;}
            .navbar-header{ position: absolute; position: absolute; top: 10px; right: 10px; }
            .navbar-collapse.collapse.in{ padding: 5px 0 10px; }
        .navbar-default .navbar-toggle{ background-color: #fff; }
      /*SESION BLCK*/
      #navSession{ position: absolute; right: 20%; top: -2px; float: right;  padding: 8px 20px 5px;
        -webkit-border-bottom-right-radius: 28px; -webkit-border-bottom-left-radius: 28px; -moz-border-radius-bottomright: 28px;
-moz-border-radius-bottomleft: 28px; border-bottom-right-radius: 28px; border-bottom-left-radius: 28px; background-color: #af1650; }
        #navSession li{ display: inline-block; position: relative; top: -2px; padding: 0 5px; }
          #navSession li a{ color: #fff; font-size: 13px }
          #navSession li a span{ margin: 0 5px 0 3px; }
            #navSession li a:hover{ text-decoration: underline !important; }
        /*STICK*/
         body.lg-mothers.toTop.fix{ padding-top: 80px; }
         .navbar.navbar-default.navbar-fixed-top{ z-index: 30; }
        .sg-body.sg-headCont.fixed{ position: fixed; top: 0; z-index: 20;  }
        .sg-body.sg-headCont{ position: relative; z-index: 1; }

  /*FOOTER*/
    footer.footLgMothers{ display: block; width: 100%; position: relative; background: transparent url(../imgs/footerPaternBgOptm.png) center bottom repeat-x; padding-top: 200px; /*background-size: cover;*/ }
      footer.footLgMothers .container{ max-width: 800px; text-align: center; margin: 0 auto; /*border: 1px dashed red;*/ }
      .messageMomLG{ max-width: 500px; margin: 0 auto; text-align: center; }
       .messageMomLG img{ float: left; margin: 10px; margin-top: -5px; margin-right: -10px; }
       .messageMomLG h3{ display: inline-block; clear: left; max-width: 350px; margin: 10px auto 5px; padding: 0; line-height: 0.9em; margin-bottom: 15px; margin-left: -15px; font-family: 'lg_smartlight'; color: #4c4c4c; }
       .messageMomLG h3 strong{ font-family: "lg_smartbold", sans-serif; font-weight: normal; color: #b00343; }
       .messageMomLG h3 span{ font-family: 'lg_smartregular'; font-weight: bolder; }
       p.copy{ font-size: 14px; font-family: 'lg_smartregular', sans-serif; color: #76797b; line-height: 0.9em; margin: 15px auto;  }
    body.lg-mothers.intSect footer.footLgMothers{ margin-top: -100px; z-index: 0; }
       /*
       .row { border: 1px dashed gray; }
       .row div{ border: 1px dashed red; }*/

  .shdwInst{ -o-box-shadow: inset 1px 2px 6px 0px rgba(0,0,0,0.2); -ms-box-shadow: inset 1px 2px 6px 0px rgba(0,0,0,0.2); -webkit-box-shadow: inset 1px 2px 6px 0px rgba(0,0,0,0.2); -moz-box-shadow: inset 1px 2px 6px 0px rgba(0,0,0,0.28); box-shadow: inset 1px 2px 6px 0px rgba(0,0,0,0.2); }

  /*TEXT´s*/
    h1.titlBrdrLft{ font-family: 'lg_smartbold'; border-left: 5px solid #b00343; padding-left: 15px; padding-top: 8px; color: #b00343; }
    h1.headTit{ font-family: 'lg_smartsemibold'; border-left: 3px solid #b91753; color: #4c4c4c; padding: 3px 5px 0px 15px; margin:0px 0 0 15px; display: inline-block; position: relative; top: 7px; letter-spacing: -1px; }
      h1.headTit p.msgMom{ font-family: "lg_smartregular", sans-serif; font-weight: normal; font-size: 25px; font-weight: normal; display: inline-block; color: #4c4c4c; margin-left: 10px; font-weight: normal; letter-spacing: 0; max-width: 90%; vertical-align: top; margin-top: 10px; float: right; }
        h1.headTit p.msgMom strong{ font-family: 'lg_smartbold';  font-weight: bold;  color: #b00343;  }
        h1.headTit p.msgMom span{ font-weight: bold; }
    h2.subTit{ font-family: 'lg_smartsemibold'; font-size: 26px; color: #595959; line-height: 1.1em; margin-bottom: 0;  }
    h2.titDare{ font-family: 'lg_smartsemibold'; font-size: 32px; color: #af1650; line-height: 0.8em; margin-bottom: 5px; padding: 20px 5px 15px 85px; background: url(../imgs/iconDareLG.png) left top no-repeat; margin-left: 15px; padding-right: 5%; }
      h2.titDare.crrntChllng{  background: url(../imgs/iconDareChllngLG.png) left top no-repeat; }
    .iconUsrLG{ padding: 16px 10px 5px 57px; background-image: url(../imgs/iconsUserLG.png); background-repeat: no-repeat;  }
    .prsnMnLG{ background-position: left top; } .prsnMomLG{ background-position: left bottom; }
      .sg-intCont p.crrntChllngTxt{ font-style: italic;  font-family: 'lg_smartregular_italic'; font-size: 160%; line-height: 1.3em }
      .text-left{ text-align: left !important; }

  /*SECTIONS*/
    .sg-homeIntro{ position: fixed; width: 100%; }
      .sg-homeIntro.container{ padding-left: 0; padding-right: 0; }
    .sg-homeCont, .sg-headCont, .sg-intCont{ position: relative; width: 100%; z-index: 2; /*margin-bottom: 250px;*/ margin-bottom: 40px; }
      .sg-intCont .row{ max-width: 980px; margin: 0 auto; }
        .sg-intCont.fullwdth .row{ max-width: 1080px; margin: 0 auto; }
      .sg-intCont.leftSid .row{ max-width: 100%; }
      .sg-headCont{ position: relative; background: rgba(255,255,255,.2); margin-bottom: 70px; position: relative; margin-top: -15px;
        transition: background-color .1s; }
        .sg-headCont:before{ position: absolute; content: ''; left: 0; top: 100%; background: url(../imgs/hdrIntBotBg.png) center bottom no-repeat; height: 54px; width: 100%; background-size: cover ; z-index: -1; }
        .sg-headCont.blnkOpct{ background:  rgba(255,255,255,.8); transition: background-color 0s; }
        .sg-headCont.blnkOpct:before{ background: url(../imgs/hdrIntBotBgOpct.png) center bottom no-repeat; }
      .hdrHeadInt{ margin: 0; padding: 20px 0 0; }
      .hdrHeadInt .row{ max-width: 600px; margin: 10px auto -20px; }
        .hdrHeadInt .row.maxWidth{ max-width: 1000px; }
          .hdrHeadInt .row.maxWidth h1{ max-width: 850px; width: auto; width: calc(100% - 200px); }
    .minBWidth{ max-width: 800px; margin: 0 auto; }
    .minPWidth{ max-width: 450px; margin: 0 auto; }

    .grayPtrnBg{ background: url(../imgs/pttrnBgRptGray.png) -4px top repeat; }
    .grayPtrnBg:before{ position: absolute; width: 100%; left: 0; top: -146px; height: 146px; content: ''; background: transparent url(../imgs/topBgSectionGray.png) center top no-repeat; }
    .grayPtrnBg:after{ position: absolute; width: 100%; left: 0; top: 100%; height: 110px; content: ''; background: transparent url(../imgs/botmBgSectionGray.png) -3px top no-repeat; }
    .sg-homeCont.container-offTp{ margin-top: 50%; }
    .sg-homeCont.container-offBt{ margin-top: 20%; }
    .sg-body.sg-homeIntro .row, .sg-body.sg-homeCont .row{ margin-left: auto; margin-right: auto; max-width: 1080px; text-align: left; }

    .bgWhtTrnsp{ background: rgba(255,255,255,.28); padding: 30px 0; margin-bottom: 0px; }
      .bgWhtTrnsp .row{ background: url(../imgs/shadowBotBlck.png) center bottom no-repeat; padding-bottom: 55px; margin-bottom: 20px }
    .lgBGFllWdth{ background: #af1650; background: rgba(175,22,80,1);
      background: #a6154c; /* Old browsers */
      background: -moz-linear-gradient(top,  #a6154c 0%, #b51857 50%, #a6154c 51%, #af1650 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a6154c), color-stop(50%,#b51857), color-stop(51%,#a6154c), color-stop(100%,#af1650)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #a6154c 0%,#b51857 50%,#a6154c 51%,#af1650 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #a6154c 0%,#b51857 50%,#a6154c 51%,#af1650 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #a6154c 0%,#b51857 50%,#a6154c 51%,#af1650 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #a6154c 0%,#b51857 50%,#a6154c 51%,#af1650 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6154c', endColorstr='#af1650',GradientType=0 ); /* IE6-9 */
      -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.36);
-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.36);
box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.36);
      padding: 30px 0; margin-bottom: 0px; margin-top: 35px; }

    .sg-body.sg-homeCont .row.mechsGameHm{ max-width: 820px; margin: 0px auto 0; top: -40px; position: relative; }
      .sg-body.sg-homeCont .row.mechsGameHm::before{ position: absolute; right: -90px; width: 100%; height: 400px; top: -140px; content: ''; background: url(../imgs/mechncsGameFig.png) 100% 100% no-repeat; background-size: 220px; }

    /*INTRO BANNERS*/
    .netsScrpt{ display: block; width: 100%; text-align: right; padding: 10px; }
    .momHomeFig{ position: relative; background: url(../imgs/personHome.png) center top no-repeat; height: 100%; min-height: 700px; }
    /*.bnnrHomeLikes img{ width: auto; margin: 0 auto; position: relative; }*/
    #momNameLG{ position: absolute; top: -10px; right: -150px; }
    .bnnrHomeLikes{ text-align: center; }
    .bnnrIntrMsg{ border-left: 5px solid #af1650; padding-top: 5px; padding-bottom: 0px;  max-width: 500px; margin-top: 15px; }
      .messageMomLG.bnnrIntrMsg h3{ font-size: 35px; max-width: 500px; margin-top: 0; margin-bottom: 0; }
      .mechsGameHm p, .bnnrHomeLikes p{ padding: 10px 20%; margin: 0 auto; line-height: 1.1em; color: #595959;  font-family: 'lg_smartregular'; font-size: 18px; }
      .nvsBtnsCta{ display: block; text-align: center; margin: 15px auto; }
        .nvsBtnsCta a.btnCta, a.btnCta, .sbmtCta{ display: inline-block; margin: 5px 10px; padding: 7px 7.5%; border-radius: 18px; color: #fff; font-family: 'lg_smartregular'; font-size: 19px; background-color: #af1650 }
        .nvsBtnsCta a.btnCta.grayBtn{ background-color: #818181; }
        .nvsBtnsCta a.btnCta:hover, a.btnCta:hover{ background-color: #4c4c4c; }
          a.btnCta.grayBtn span{ position: relative; top: 2px; margin-right: 5px; padding-right: 5px; }

      /*MECHANICS GAME STEPS*/
      .mechsGameHm p{ padding: 20px 20px 10px; max-width: 500px; border-top: 5px solid #818181; margin: 35px auto 10px; text-align: center; }
      .mchnstLst{ display: block; }
      .mechsGameHm h1.titlBrdrLft{ margin-bottom: 20px; }
        .mchnstLst li{ color: #505050;  font-family: 'lg_smartsemibold'; font-size: 19px; list-style: none; line-height: 1.1em; }
        .mchnstLst li span.num{ font-family: 'lg_smartbold'; color: #b00343; font-size: 22px; font-weight: bold;  margin-right: 10px; }
        .mchnstLst li strong{ color: #af1650; font-family: 'lg_smartbold'; }
      .mechsGameHm p{ font-family: 'lg_smartregular'; font-size: 22px; /*margin-bottom: -40px;*/ margin-bottom: 70px;  }
        .sg-intCont p strong, .mechsGameHm p strong{ font-weight: normal; color: #b00343; position: relative; z-index: 5 }

      /*PRIZES*/
        #prizesHome{ /*max-width: 900px;*/ display: block; margin: 0 auto; position: relative; top: -40px; }
        .figPrizeHm{ display: inline-block; position: relative; z-index: 1;  }
          .figPrizeHm figcaption{ position: absolute; top: 0; }
          .figPrizeHm .icoPos{ position: relative; width: 80px; height: 100px; background: url(../imgs/prizeLG-IconNum.png) center center no-repeat; left: 0; top: 0; margin-top: -40px  }
            .figPrizeHm .icoPos span{ color: #fff; font-size: 28px; position:relative; display: block; font-family: 'lg_smartbold'; left: 38px; top: 26px; }
            .figPrizeHm figcaption p{ color: #505050;  font-family: 'lg_smartsemibold'; font-size: 13px; text-transform: uppercase; text-align: center; line-height: 1em; padding-left: 80px; padding-right: 0px; min-width: 250px; max-width: 250px; }
             .figPrizeHm figcaption p strong{ font-family: 'lg_smartbold'; font-weight: bold; }
          #prizesHome .nvsBtnsCta{ text-align: right; max-width: 550px; border: 1px dashed #ccc;
            text-align: right; max-width: 550px; border: 1px dashed #ccc; position: absolute; right: 5%; bottom: 0; display: block; min-width: 450px; }

        .figPrizeHm a.iconMoreInfo{ position: relative; width: 100%; height: 100%; display: block; }
          .figPrizeHm a.iconMoreInfo figcaption span.icoMrInf{ background-color:#b00343; color: #fff; font-size: 20px; padding: 2px 6px; display: inline; border-radius: 50%; padding: 4px 10px 6px 10px; line-height: 1em; font-family: 'lg_smartregular'; font-weight: bold; position: absolute; left: 52%; margin-top: -5px; transition: all .3s; outline: 1px solid transparent; }
            .figPrizeHm a.iconMoreInfo:hover figcaption span.icoMrInf{ background: #4c4c4c; -ms-transform: scale(1.1) translate3d( 0, 0, 0); -webkit-transform: scale(1.1) translate3d( 0, 0, 0); -moz-transform: scale(1.1) translate3d( 0, 0, 0); -o-transform: scale(1.1) translate3d( 0, 0, 0); transform: scale(1.1) translate3d( 0, 0, 0);
        -ms-transform-origin: center; -webkit-transform-origin: center; -moz-transform-origin: center; -o-transform-origin: center; transform-origin: center; }
            .figPrizeHm a.iconMoreInfo:hover figcaption p strong{ color: #b00343; }

    /*CONTENTS INT*/
      .sg-intCont p{ padding: 10px 20px; margin: 0 auto; line-height: 1.1em; color: #595959;  font-family: 'lg_smartregular'; font-size: 20px; }
        .sg-intCont p span.titBold{ font-weight: bold; color: #595959; }
        .sg-intCont p span.titPrpl{ font-size: 30px; color: #bb1754; margin-left: 7px; margin-bottom: -2px }
      a.btnConnctFbk{ background-color: #5566a8; padding-left: 6.5%; padding-right: 8.5%; margin: 15px 15px; }
      a.btnConnctFbk:hover{ background-color: #3d4872; }
        a.btnConnctFbk span{ margin-right: 15px; position: relative; top: 2px }

      /**FORMS**/
    .frmLGDef{ position: relative; display: block; margin: 0; padding: 0px; }
      .form.frmLGDef div.col-md-6{ padding: 5px 25px; }
    .frmLGDef .form-control{  color: #6e6e6e; font-family: 'lg_smartlight', sans-serif; border-radius: 18px; padding: 10px 20px 10px; font-size: 16px; height: auto; margin: 5px 0 1px;  border: 1px solid #fff;
      -webkit-box-shadow: inset 0px 0px 5px 2px rgba(50, 50, 50, 0.25);
      -moz-box-shadow:    inset 0px 0px 5px 2px rgba(50, 50, 50, 0.25);
      box-shadow:         inset 0px 0px 5px 2px rgba(50, 50, 50, 0.25); }
    .frmLGDef fieldset{ padding: 5px 0px; margin: 5px 5px; }
    .frmLGDef .control-label{ font-family: 'lg_smartlight', sans-serif; font-size: 16px; margin-left: 5px; margin-top: 5px; color: #999999; }
      /*.frmLGDef .form-control:focus{ box-shadow: 0px 1px 1px rgba(218, 0, 81, 0.075) inset;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out }*/
    /*FOCUS STYLE*/
    .frmLGDef textarea:focus,
    .frmLGDef input[type="text"]:focus,
    .frmLGDef input[type="password"]:focus,
    .frmLGDef input[type="datetime"]:focus,
    .frmLGDef input[type="datetime-local"]:focus,
    .frmLGDef input[type="date"]:focus,
    .frmLGDef input[type="month"]:focus,
    .frmLGDef input[type="time"]:focus,
    .frmLGDef input[type="week"]:focus,
    .frmLGDef input[type="number"]:focus,
    .frmLGDef input[type="email"]:focus,
    .frmLGDef input[type="url"]:focus,
    .frmLGDef input[type="search"]:focus,
    .frmLGDef input[type="tel"]:focus,
    .frmLGDef input[type="color"]:focus,
    .frmLGDef .uneditable-input:focus {
       border-color:#677ac2;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(103,122,194,0.075),0 0 8px rgba(103,122,194,0.4);box-shadow:inset 0 1px 1px rgba(103,122,194,0.055),0 0 8px rgba(103,122,194,0.4);}
    /**PLACEHOLDER**/
    .frmLGDef ::-webkit-input-placeholder { font-size: 16px; color: #939393; text-align: left; }
    .frmLGDef :-moz-placeholder { font-size:16px; color: #939393; text-align: left; }
    .frmLGDef ::-moz-placeholder { font-size: 16px; color: #939393; text-align: left; }
    .frmLGDef :-ms-input-placeholder { font-size: 16px; color: #939393; text-align: left; }

      .frmLGDef .form-control.fbkSearchInput{ background: #3d4872; color: #fff; padding: 5px 10px 5px; font-size: 22px; text-align: center; max-width: 180px; margin: 0px auto 15px; background: #3d4872 url(../imgs/facebookLetter.png) 22px center no-repeat; border-radius: 35px; border: 1px solid #3d4872 }
         .frmLGDef .form-control.fbkSearchInput.bgBlank{ background: #fff url(../imgs/facebookLetterBlue.png) 22px center no-repeat; border: 1px solid #fff; color: #3d4872; }
      .frmLGDef .form-control.fbkSearchInput::-webkit-input-placeholder{ color: #fff; font-size: 22px; text-align: center;  }
      .frmLGDef .form-control.fbkSearchInput:-moz-placeholder { color: #fff; font-size: 22px; text-align: center; }
      .frmLGDef .form-control.fbkSearchInput::-moz-placeholder{ color: #fff; font-size: 22px; text-align: center; }
      .frmLGDef .form-control.fbkSearchInput:-ms-input-placeholder{ color: #fff; font-size: 22px; text-align: center; }

        .sbmtCta{ background: #af1650; border: none; outline: none; margin: 15px auto; display: block; font-size: 22px; padding-left: 5.5%; padding-right: 5.5%; text-align: center; color: #fff !important;  }
          .sbmtCta:hover{ background: #4c4c4c; color: #fff; }
        /*COMBOS*/
          label.drpCbLG{ margin-right: 15px; }
          label.drpCbLG select { padding: 8px 12px; margin: 6px 0 0;  border: 1px solid #fff; background: #fff; color:#888; font-weight: normal; font-family: 'lg_smartlight', sans-serif; border:none; outline:none; display: inline-block;
              -webkit-appearance:none; -moz-appearance:none; appearance:none;
              -webkit-box-shadow: inset 0px 0px 5px 2px rgba(50, 50, 50, 0.25);
              -moz-box-shadow:    inset 0px 0px 5px 2px rgba(50, 50, 50, 0.25);
              box-shadow:         inset 0px 0px 5px 2px rgba(50, 50, 50, 0.25);
              -moz-border-radius:4px; border-radius:15px; cursor:pointer; min-width: 200px; }
          label.drpCbLG select.dateSlct{ min-width: 70px; }
          /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
          @media screen and (-webkit-min-device-pixel-ratio:0) {
              label.drpCbLG select {padding-right:18px}
          }
          label.drpCbLG {position:relative}
          label.drpCbLG:after { content:'▼'; font:11px "Arial", monospace; color:#4c4c4c; right:15px; top:18px; padding:0 0 2px; position:absolute; pointer-events:none; }

      /*CHECKS:radios*/
      .checkbox, .radio { clear: both; float: none; }
      .radio input[type=radio], .radio input[type=checkbox] { display: none; }
      .radio label:before { font-weight: normal; content: '';  display: inline-block;  width: 20px; height: 20px;  margin-right: 10px;
        position: absolute; left: 0; bottom: 1px; background-color: #FFF; box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,.2); }
      .radio label:before { border-radius: 10px; }
      .radio label{ display: inline-block; padding-left: 28px; margin: 5px 0; position: relative; top: 10px; color: #6e6e6e; font-family: 'lg_smartregular', sans-serif;  font-size: 16px; }
      .checkbox label:before { border-radius: 3px; }
      input[type=radio]:checked + label:before { content: '\2022';  color: #a6154c; font-size: 42px; text-align: center; line-height: 17px; }
      input[type=checkbox]:checked + label:before { content: '\2713'; text-shadow: 1px 1px 1px #10758C; font-size: 24px; color: #a6154c;
        text-align: center; line-height: 24px; }

    /*CHALLENGE SECTION*/
      .artclDarelG{ position: relative; display: block; background: url(../imgs/bgRptIntReto.png) 100% top repeat-y; padding: 0px 5% 0 10%; left: -30px; /*background-size: 95% 30px; */ margin-top: 150px; padding-right: 10%; padding-left: 30%; }
      .artclDarelG:before{ position: absolute; right: 0; top: -104px; height: 104px; width: 100%; content: ''; background: url(../imgs/bgTopIntReto.png) right top no-repeat; }
      .artclDarelG:after{ position: absolute; right: 0; bottom: -104px; height: 104px; width: 100%; content: ''; background: url(../imgs/bgBotIntReto.png) right top no-repeat; }
        .leftSid .artclDarelG{}
        .figDareLG{ position: relative; display: block; padding-top: 30px; }
          .figDareLG figcaption{ text-align: left; border-left: 4px solid #4c4c4c; padding-left: 0px; position: absolute; bottom: 0; }
          .figDareLG a.btnCta{ display: inline-block; margin: 5px 10px; padding: 7px 4.5%; }
           .artclDarelG p strong, .figDareLG figcaption p strong{ font-family: 'lg_smartsemibold'; color: #af1650; font-weight: bolder; }
           .artclDarelG p span.ref, .figDareLG figcaption p span.ref{ font-weight: bolder; color: #4c4c4c; font-size: 15px; }
        .figDareLG.crrntDareFig figcaption{ position: relative; padding-left: 20px; border-left: none; }

    /*PRIZE LABEL*/
      .przBblMsg{ position: absolute; top: 80%; right: 0; padding: 5px 120px 0 20px; max-width: 400px; background: url(../imgs/prizeBgRepeat.png) left top repeat-y; z-index: 5; }
      .przBblMsg:before{ position: absolute; right: 0; top: -43px; height: 43px; width: 100%; content: ''; background: url(../imgs/prizeBgTop.png) left 0px no-repeat; z-index: 1; }
      .przBblMsg:after{ position: absolute; right: 0; bottom: -40px; height: 52px; width: 100%; content: ''; background: url(../imgs/prizeBgBot.png) left 0px no-repeat; z-index: 1; }
        .przBblMsg img{ float: right; position: absolute; right: 10px; top: -60px; z-index: 2; }
        .przBblMsg p{ font-size: 18px; line-height: 1.3em; margin-bottom: 0px; margin-top: 0; padding-top: 0;
          padding: 0px 20px; line-height: 1.1em; color: #595959; font-family: 'lg_smartregular';
        }
        .przBblMsg a{ padding: 2px 15px; position: relative; left: 10px; margin-bottom: 5px; margin-bottom: -5px;  z-index: 2; }

  /*PROFILE*/
    .infPrflUsrLG{ position: relative; display: block; margin: 0 auto; }
      .infPrflUsrLG p{ display: inline-block; }
      .infPrflUsrLG .userProfileInf, .infPrflUsrLG figure{ display: block; }
        .userProfileInf .userImage{ display: inline-block; }
        .userProfileInf figcaption{ position: relative; display: inline-block; vertical-align: middle; }
        .userProfileInf figcaption .userTitle{ display: inline-block; color: #af1650; font-family: 'lg_smartregular'; font-size: 25px; margin-right: 0; padding: 0 20px 0 5px; }
        .userProfileInf figcaption .userPosition{ display: inline-block; /*float: right;*/ margin-left: 0%; }
          .userProfileInf figcaption .userPosition span{ font-family: 'lg_smartsemibold';  font-size: 30px; color: #af1650; border-left: 4px solid #af1650; padding-left: 15px;  }
          .userProfileInf figcaption .userPosition strong{ font-weight: bold; font-size: 70px; color: #af1650; font-family: 'lg_smartbold';  display: inline-block; background: url(../imgs/iconRankPostn.png) right 10px no-repeat; padding: 10px 75px 10px 10px; position: relative; top: 10px; letter-spacing: -1px; /*border: 1px dashed red;*/  }
      p.msgIntro{ font-size: 160%; }
         p.msgIntro strong{ font-weight: bold; }
         p.msgIntro span{ font-weight: bold; color: #4c4c4c; }
    /*FIGURES CHALLENGE*/
      .figDareLG.crrntDareFig figcaption h5{ font-family: 'lg_smartbold'; color: #af1650; font-size: 20px; margin: 0 0 0; font-weight: normal; }
      .figDareLG.crrntDareFig figcaption span.ref{ display: inline-block; color: #4c4c4c; font-size: 17px; font-weight: bold; margin-bottom: 10px; }
      .spcsPrdctLG, .retailsIcons{ position: relative; display: block; margin: 5px 0 15px; padding: 0 20px; }
      .spcsPrdctLG li, .retailsIcons li{ list-style: disc; color: #4c4c4c; margin: 0; padding: 0; font-size: 14px; color: #4c4c4c; }
      .retailsIcons li{ list-style: none; display: inline-block; margin: 0 2px 15px; }
      .retailsIcons li.lnkWhrPrchs{ color: #ac024b; font-family: 'lg_smartregular';  display: block; margin: 15px 5px 10px; }
        .retailsIcons li.lnkWhrPrchs a{ color: #ac024b; font-size: 20px; padding: 3px 30px 3px 0; background: url(../imgs/carIco.png) right center no-repeat }
    /*CHALLENGE LIST*/
      .chhlngLst{ display: block; position: relative; margin: 10px 0; padding: 0; list-style: none; }
        .chhlngLst li{ display: block; padding: 14px 0px 14px 60px; list-style: none; clear: both; color: #af1650; font-family: 'lg_smartregular'; font-size: 18px; text-align: left; line-height: 1em; font-weight: normal; vertical-align: top; margin: 15px 0 5px; background: url(../imgs/iconDareLG-min.png) left top no-repeat  }
         .chhlngLst li a.btnCta.fltRgt{ float: right; display: inline-block; clear: left; padding: 9px 3.5%; vertical-align: top; margin-top: 0px; margin-bottom: 20px; }
      h3.subTtlIntD{ font-family: 'lg_smartsemibold';  font-size: 250%; color: #af1650; border-left: 4px solid #af1650; padding-left: 15px; margin-left: 20px; margin-top: 40px; margin-bottom: 30px; }

    /*CHALLENGE MACHINE*/
      #roadChallenge{ position: relative; display: block; }
        #roadChallenge #twnCllng{ position: relative; display: inline-block;  background: url(../imgs/icoChallengeMachineInactive.png) 0px 0px no-repeat; padding: 20px;  }
        /*TWEEN MACHINE CHALLENGES*/
          #twnCllng .thMchnTwnn{ /*border: 1px dashed #fff;*/ position: absolute; text-align: center; width: 100px;
              height: 100px; background: url("../imgs/sprtMachineTween.png") left center; left: 33px; top: 50px; }
              #twnCllng .thMchnTwnn.tweened{ -webkit-animation: machine .8s steps(6, end) infinite;
              -moz-animation: machine .8s steps(6, end) infinite;
              animation: machine .8s steps(6, end) infinite; }
            #twnCllng img{ position: relative; top: 2px; left: 2px;  }
              #twnCllng img#defHddn{ visibility: hidden; }
              #twnCllng img#defHddn.vsbl{ visibility: visible; }
            /*ICONS CLASS BY CHALLENGE*/
              #twnCllng .thMchnTwnn.iconChll-audio{ background-position: 0 center; }
              #twnCllng .thMchnTwnn.iconChll-lavadora{ background-position: -100px center; }
              #twnCllng .thMchnTwnn.iconChll-movil{ background-position: -200px center; }
              #twnCllng .thMchnTwnn.iconChll-nevera{ background-position: -300px center; }
              #twnCllng .thMchnTwnn.iconChll-pc{ background-position: -400px center; }
              #twnCllng .thMchnTwnn.iconChll-tv{ background-position: -500px center; }
          @-webkit-keyframes machine { /*from { background-position: 0 0px; }*/  100% { background-position: -600px; } }
          @-moz-keyframes machine { /*from { background-position: 0 0px; }*/ 100% { background-position: -600px; } }
          @keyframes machine { /*from { background-position: 0 0px; }*/ 100% { background-position: -600px; } }

        #roadChallenge figcaption{ display: inline-block; vertical-align: middle; padding-left: 20px; }
        #roadChallenge figcaption h4{ font-family: 'lg_smartsemibold';  font-size: 190%; color: #ffffff;  text-align: left; line-height: 1.1em; margin: 0; font-weight: normal; }
        #roadChallenge figcaption h3{ font-family: 'lg_smartbold';  font-size: 220%; color: #ffffff; text-align: left; line-height: 1.1em; margin: 0; font-weight: normal; }
        #roadChallenge figcaption a{ text-align: left; float: left; margin: 20px 0 10px; padding: 7px 15.5%; color: #fff; background: #681032; }
          #roadChallenge figcaption a:hover{ background: #fff; color: #af1650;  }

    /*BUBBLES*/
      .bubbleCrcLG{ position: relative; display: block; width: 200px; height: 200px; text-align: center; border-radius:50%; }
      .bubbleCrcLG.whtBbl{
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        -webkit-box-shadow: 0px 10px 0px 0px rgba(134, 11, 47, 0.53);
        -moz-box-shadow:    0px 10px 0px 0px rgba(134, 11, 47, 0.53);
        box-shadow:         0px 10px 0px 0px rgba(134, 11, 47, 0.53); }
      .bubbleCrcLG span{ height: 200px; display: inline-block; zoom: 50%; *display: inline; vertical-align: middle; font-size: 100%; display: block; }
      .bubbleCrcLG p{ display: inline-block; zoom: 1; *display: inline; vertical-align: middle; color: #000; font-size: 150%; margin-top: -40px; font-weight: bold; color: #af1650 }
        .bubbleCrcLG p strong{ display: block; font-size: 130%; font-family: 'lg_smartsemibold'; margin-top: 10px; text-transform: uppercase; }
      .lgBGFllWdth .offTpCrc{ overflow: hidden; top: -30px; }
        .lgBGFllWdth .offTpCrc .bubbleCrcLG{ margin-top: -15px; }
      @-moz-document url-prefix() { .bubbleCrcLG p{ margin-top: -220px; } }
        .bubbleCrcLG.pnkBg{ box-shadow: none; background-color: #af1650; background: #af1650; }
           .bubbleCrcLG.pnkBg p{  color: #fff; text-align: center; font-size: 16px; padding: 0px 25px 0px;  font-family: 'lg_smartregular'; line-height: 1.2em; position: relative; top: -10px; text-shadow: none; font-weight: normal; border: none; border-top: 0;  }
        .ovrfwd{ width: 220px; height: 220px; display: block; }
        #prizesHome .ovrfwd, .mechsGameHm .ovrfwd{ position: absolute; z-index: 6; overflow: hidden;  }
        .mechsGameHm .ovrfwd{ left: 0px; bottom: -100px; }
          #prizesHome .ovrfwd.rght, .mechsGameHm .ovrfwd.rght{ bottom: 80px; right: 50px;  }
          #prizesHome .ovrfwd.rght .bubbleCrcLG{ right: -25px; }
          .mechsGameHm .ovrfwd.left .bubbleCrcLG{ left: -10px }

    /*RANKING*/
    .toMidVrtcll{ display: table; margin-bottom: 0px; }
      .toMidVrtcll .msgIntro{ display: table-cell; vertical-align: middle; max-width: 450px; }
      .toMidVrtcll .msgIntro span{ display: inline-block; color: #4c4c4c; font-weight: bold; }
      .toMidVrtcll img:first-child{ margin-left: 20%; }
    .intRankArtcl{ margin-top: 40px; margin-bottom: -50px; background: url(../imgs/shadowBotBlck.png) center bottom no-repeat; padding-bottom: 55px; margin-bottom: 20px  }
      .tblRnkLG{ position: relative; width: 100%; border-color: transparent; }
        .tblRnkLG thead tr th{ background: #af1650; background: rgba(175,22,80,1);
      background: #a6154c; /* Old browsers */
      background: -moz-linear-gradient(top,  #a6154c 0%, #b51857 50%, #a6154c 51%, #af1650 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a6154c), color-stop(50%,#b51857), color-stop(51%,#a6154c), color-stop(100%,#af1650)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #a6154c 0%,#b51857 50%,#a6154c 51%,#af1650 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #a6154c 0%,#b51857 50%,#a6154c 51%,#af1650 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #a6154c 0%,#b51857 50%,#a6154c 51%,#af1650 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #a6154c 0%,#b51857 50%,#a6154c 51%,#af1650 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6154c', endColorstr='#af1650',GradientType=0 ); /* IE6-9 */
      -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.36);
      -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.36);
      box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.36);
        font-size: 18px; color: #fff; font-family: 'lg_smartregular'; padding: 8px 15px; border-right: 2px solid #fff; }
        .tblRnkLG thead tr th:last-child{ border-right: none;  }
        .tblRnkLG.table-striped > tbody > tr{ font-size: 18px; color: #4c4c4c; font-family: 'lg_smartsemibold', sans-serif;  }
          .tblRnkLG.table-striped > tbody > tr td{ padding: 15px 15px 10px; line-height: 1.1em; vertical-align: middle; }
        .tblRnkLG.table-striped > tbody > tr:nth-of-type(odd){ background-color: #e5e5e5; background-color: rgba(229,229,229,.7); }
        .tblRnkLG.table-striped > tbody > tr:nth-of-type(even){ background-color: #a2a2a2; background-color: rgba(162,162,162,.3); }
        .tblRnkLG.table-striped > tbody > tr td:first-child span{ padding-left: 28px; padding-right: 20px; background: url(../imgs/iconRankingPos.png) left center no-repeat; margin-left: 0; padding-top: 12px; padding-bottom: 6px; color: #b00343; font-weight: normal; font-family: 'lg_smartbold', sans-serif; font-size: 100%; }

    /*WINNERS*/
      .artclFllPtrnlG{ position: relative; display: block; background: url(../imgs/bgRptIntPtrnFll.png) 100% top repeat-y; padding: 0px 5% 0 10%; left: 0px; margin-top: 120px; padding-right: 5%; padding-left: 5%; margin-bottom: 150px; }
      .artclFllPtrnlG:before{ position: absolute; right: 0; top: -95px; height: 95px; width: 100%; content: ''; background: url(../imgs/bgTopBgPtrnFll.png) right top no-repeat; background-size: 1052px; }
      .artclFllPtrnlG:after{ position: absolute; right: 0; bottom: -114px; height: 114px; width: 100%; content: ''; background: url(../imgs/bgBotBgPtrnFll.png) right top no-repeat; background-size: 1050px; }
      /*LISTS*/
      .winnersList{ display: block; position: relative; width: 100%; margin: 0 auto; text-align: left; list-style: none;  margin: 20px auto 20px; padding: 0; }
        .winnersList li{ display: block; list-style: none; /*border: 1px dashed rgba(0,0,0,.2);*/ vertical-align: middle; }
        .winnersList li.titleWinners{ padding-left: 0%; }
        .winnersList li h5{ min-width: 30%; max-width: 30%; display: inline-block; vertical-align: middle;
          font-size: 23px; font-family: 'lg_smartsemibold', sans-serif; color: #af1650;  }
        .winnersList li:first-child h5, .winnersList li.titleWinners h5{ color: #4c4c4c; text-decoration: underline; padding-bottom: 0px; line-height: 1.1em; font-weight: normal; }
        .winnersList li.titleWinners h5:first-child{ padding-left: 16.5%; }
        .winnersList li.titleWinners h5:nth-child(2){ padding-left: 16.5%; }
        .winnersList li.titleWinners h5:last-child{ padding-left: 5.5%; }

        .winnersList li h5.childInfo{ padding-left: 70px; background: url(../imgs/iconStarWinners.png) left top no-repeat; display: inline-table; min-width: 35%; max-width: 35%;  }
        .winnersList li h5.momInfo, .winnersList li h5.prizeInfo{ padding-left: 5px; display: inline-table;  }
        .winnersList li h5.prizeInfo, .winnersList li h5.dateInfo{ color: #4c4c4c; font-family: 'lg_smartregular'; }
           .winnersList li h5 span{ vertical-align: middle; position: relative; display: table-cell; line-height: 0.9em; }
        .winnersList li h5.childInfo img, .winnersList li h5.momInfo img{ max-width: 70px; max-height: 70px; margin: 0 9px 0 0; float: left; }
    /*WINNERS SCROLL*/
    #scrlldLstWinnrs{ position: relative; max-width: 80%; margin: 0 auto; height: auto;
      max-height: 440px; overflow-y: scroll; }
      #scrlldLstWinnrs .winnersList{ padding-top: 5px;  }
      #scrlldLstWinnrs .winnersList li:first-child{ position: relative; /*display: table-header-group;*/ width: 100%; }
      #scrlldLstWinnrs .winnersList li .head{ position: static; top:0; left:0; }
      #scrlldLstWinnrs .winnersList li h5:first-child{ max-width: 58%; min-width: 58%; }
      #scrlldLstWinnrs .winnersList li h5{ max-width: 40%; min-width: 40%; }
        #scrlldLstWinnrs .winnersList li.infoWinners h5:last-child{ font-size: 130%; }
        #scrlldLstWinnrs .winnersList li.titleWinners h5:first-child{ padding-left: 26%; }


    /*PRIZES INTERNAL CAROUSEL*/
    .carousel-fade .carousel-inner .item { opacity: 0;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity; }
    .carousel-fade .carousel-inner .active { opacity: 1; }
    .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right { left: 0; opacity: 0; z-index: 1; }
    .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right { opacity: 1; }
    .carousel-fade .carousel-control { z-index: 2; }
    .sldPrizesLG{ position: relative; display: block; margin: 15px auto 0; /*border: 1px dashed #ccc;*/ }
    .sldPrizesLG .carousel-caption{ right: 5%; left: 40%; padding-bottom: 30px;}
    .sldPrizesLG .carousel-control { color:#fff; top:44%; background:transparent; bottom:auto; padding-top:8px; width:50px; height:50px; opacity:1; }
      .sldPrizesLG .carousel-control .glyphicon-chevron-left, .sldPrizesLG .carousel-control .glyphicon-chevron-right, .sldPrizesLG .carousel-control .icon-next, .sldPrizesLG .carousel-control .icon-prev{ color: #af1650; }
      .sldPrizesLG .carousel-control.left, .sldPrizesLG .carousel-control.right { background-image:none !important; }
      .sldPrizesLG .carousel-control.right, .carousel-control .glyphicon-chevron-right { left:auto; /*right:-16px;*/ }
      .carousel-control.left { right:auto; /*left:-16px;*/ }
    .sldPrizesLG .carousel-indicators{ position: absolute; left: 0; top: 0; position: absolute; right: auto; margin-left: 0; width: auto; top: 30%;
        -ms-transform: scale(0.88); -webkit-transform: scale(0.88); -moz-transform: scale(0.88); -o-transform: scale(0.88); transform: scale(0.88);
        -ms-transform-origin: left top; -webkit-transform-origin: left top; -moz-transform-origin: left top; -o-transform-origin: left top; transform-origin: left top; }
      .sldPrizesLG .carousel-indicators li{ background-color: #4c4c4c; color: #fff; text-indent: 0px; padding: 6px 19px 24px 11px; border-radius: 50%; width: 15px; height: 15px; display: block; font-family: 'lg_smartsemibold', sans-serif; font-size: 115%; position: relative; margin-bottom: 15px; border: 0; outline: none; float: left; clear: both; }
      .sldPrizesLG .carousel-indicators li.active{ background-color: #af1650; margin-left: 1px; margin-top: 0; }
      .sldPrizesLG .carousel-indicators li:before{ background: url(../imgs/bgIndctrsCrsl.png) left 99%; width: 100px; height: 59px; content: ''; content: ''; position: absolute; left: -62px; top: -20px; z-index: -1 }
      .sldPrizesLG .carousel-indicators li.active:before, .sldPrizesLG .carousel-indicators li:hover:before{ background-position: left top;  }
        .sldPrizesLG .carousel-indicators li:hover{ background-color: #af1650; }
      .sldPrizesLG .figDareLG.crrntDareFig figcaption{ position: absolute; right: 0; text-shadow: none; }
      .sldPrizesLG .figDareLG.crrntDareFig figcaption h5{ padding-right: 25px; }
        .sldPrizesLG .icoPos{ position: absolute; width: 80px; height: 100px; background: url(../imgs/prizeLG-IconNum.png) center center no-repeat; left: 15px; top: 60px; margin-top:0px; z-index: 5;  }
            .sldPrizesLG .icoPos span{ color: #fff; font-size: 28px; position:relative; display: block; font-family: 'lg_smartbold'; left: 38px; top: 26px; }
        .sldPrizesLG .nvsBtnsCta{ margin: 0; }
      .sldPrizesLG .figDareLG img{ max-width: 400px; height: auto; }

    /*MECHANICS INT*/
      .toMidVrtcll h2.subTit{ font-size: 240%; font-family: "lg_smartbold", sans-serif; font-weight: bold; }
      .toMidVrtcll .lftBrdrGray{ border-left: 3px solid #828282; padding: 0; margin: 0; padding-left: 30px; padding-right: 10%; }
      .toMidVrtcll .ntLftBrdrGray{ padding: 0; margin: 0; padding-left: 15px; padding-right: 5%; }
      .listOrdrd{ margin: 10px 5px; padding: 5px 5px 5px 0; }
        .listOrdrd li{ list-style: none;  font-family: 'lg_smartregular', sans-serif; font-size: 130%; margin: 5px 0; line-height: 1.1em; }
          .listOrdrd li em{ font-style: italic;  font-family: 'lg_smartregular_italic'; font-weight: bold; }
        .listOrdrd li span{ font-weight: bold; }
        .listOrdrd li a{ text-decoration: underline; color: #ad1b51; font-family: 'lg_smartsemibold', sans-serif; }
    .boxGrayShdw{ background-color: #E3E3E3; border-radius: 25px; padding: 20px; 
      -webkit-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.26);
      -moz-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.26);
      box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.26); }
        .ntLftBrdrGray h2.subTit span{ display: inline-block; margin-left: -20px;}
        .sg-intCont p.termsMsg{ font-size: 16px; color: #595959; }
      .toMidVrtcll .nvsBtnsCta{ margin-left: 15px; }

/*WebKit Browser*/
@media screen and (-webkit-min-device-pixel-ratio:0) { }
/*Tablet & Mobile*/
@media only screen and (max-width:480px) {
  body.lg-mothers{ padding-top: 190px !important; }
   body.lg-mothers.toTop{ padding-top: 0 !important; }
  .vimeovideowrap, .content, .youtubevideowrap, #disqus_thread, .socialmedia {width:100%;}
  .wrapper {border: solid 1.25rem #fff;}
  .navSocialHead .fa-2x{ font-size: 1em; }
  .navSocialHead li{ margin: 2px 2px; }
  .navSocialHead li a{ font-size: 1em; padding: 2px 5px; }
  nav.navSocialHead li:nth-child(2) a{ font-size: 1em !important;  padding: 2px 9px;  }
  footer.footLgMothers img{ float: none; margin: 5px auto; }
  .messageMomLG h3{ margin-left: 0; }
   #navSession{ left: 10%; right: 10%; position: absolute; text-align: center; }
   .sg-homeCont.container-offBt{ margin-top: 40%; }
   .sg-homeCont.container-offTp{ margin-top: 35% }
   body.lg-mothers .sg-head{ padding-top: 40px; }
   .momHomeFig{ position: absolute; top: 50px; background-position: center bottom !important; }
   #momNameLG{ top: -1% !important; left: -45% !important; right: 0 !important; width: 50%; }
    .bnnrHomeLikes{ margin-top: 280px; background-color: rgba(255,255,255,.5); padding-top: 35px; margin-bottom: -50px; padding-bottom: 45px; }
      .bnnrHomeLikes img{ width: 85%; }
   .sg-homeIntro{ position: relative; }
   .bnnrIntrMsg{ border-left: 3px solid #af1650; padding-top: 0px; padding-bottom: 0px;  max-width: 500px; margin-top: 5px; }
      .messageMomLG.bnnrIntrMsg h3{ padding: 0px 15px 0px; font-size: 25px; margin: 15px auto 5px; }
      .hdrHeadInt .row.maxWidth{ text-align: center; }
      .hdrHeadInt .row.maxWidth h1{ max-width: 100%; width: auto; display: block; }
       .hdrHeadInt .row.maxWidth h1.headTit{ padding: 3px 5px 0px 0px; }
        .hdrHeadInt .row.maxWidth h1.headTit p{ float: none; }
    .artclDarelG{ width: 110%; margin-bottom: 80px; margin-top: 80px; }
    #roadChallenge figcaption a{ margin: 30px; }
  .figPrizeHm{ display: block; margin-left: 5% !important; }
    #prizesHome{ float: left; }
      .toMidVrtcll img:first-child{ margin-left: 5%; }
    .tblRnkLG thead tr th{ font-size: 110%; }
    .tblRnkLG.table-striped > tbody > tr td{ padding: 5px 5px 5px; line-height: 1.1em; font-size: 90%; }
    #scrlldLstWinnrs .winnersList li h5 span{ clear: left; display: block; float: left; margin-top: 15px; }
    #scrlldLstWinnrs .winnersList .titleWinners{ display: none; }
    .przBblMsg{ position: relative; margin-top: 30px; margin-bottom: 30px;  }
    body.lg-mothers .przBblMsg{ margin-top: 0; }

}

@media only screen and (min-width:481px) and (max-width:768px) {
  .navSocialHead .fa-2x{ font-size: 1.2em; }
  .navSocialHead li:first-child, .navSocialHead li .titNets{ display: block; }
  .col-md-3.col-sm-6 figure.smplLGEdtrl, .col-md-4.col-sm-4 figure.smplLGEdtrl, .col-md-4.col-sm-6 figure.smplLGEdtrl{ float: left; }
  .col-md-3.col-sm-6 .smplLGEdtrl img, .col-md-4.col-sm-6 img{ margin-right: 20px; margin-bottom: 20px; float: left; }
  .col-md-4.col-sm-4 .smplLGEdtrl img{ margin-right: 20px; margin-bottom: 20px; float: left; }

}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .ipad-portrait { height: 290px; } /* your css rules for ipad portrait */
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .ipad-landscape { height: 360px;} /* your css rules for ipad landscape */
  .hdrHeadInt .row.maxWidth h1{ max-width: 300px; }
}
@media (max-width: 1024px) {
  .hdrHeadInt .row.maxWidth h1{ max-width: 480px; }
  .hdrHeadInt .row.hGrpTitHead img{ vertical-align: text-top; }
  .hdrHeadInt .row.hGrpTitHead.maxWidth{ text-align: center !important; }
  #scrlldLstWinnrs .winnersList li h5:first-child, #scrlldLstWinnrs .winnersList li h5:last-child{ width: 100%; width: 100%;
  display: inline-table; min-height: 25px; vertical-align: middle; }
}
/* keep full widget on smaller screens */
@media (max-width: 767px) {
  body { padding-left: 0; padding-right: 0; }
  body.lg-mothers:before{ background-attachment: initial; }
   body.lg-mothers{ padding-top: 150px; }
  .sg-homeIntro{ position: relative; }
    #momNameLG{ top: 90%; left: 0; right: 0; margin: 0 auto; }
     .hdrHeadInt .row.maxWidth{ text-align: center; }
    .hdrHeadInt .row.maxWidth h1{ max-width: 520px; }
    .navSocialHead{ margin-top: 0; padding-bottom: 20px; text-align: center; }
    .navHead li:nth-child(even){ display: none; }
    .mechsGameHm p{ padding-left: 10%; padding-right: 10%; max-width: 90%; }
      .navSocialHead li:nth-child(6){ position: absolute; left: 0; top: 90%; }
  .navSocialHead li:last-child{ position: absolute; bottom: -10px;right: 0; }
   .artclDarelG{ width: 110%; margin-bottom: 80px; margin-top: 40px; }
   .sg-body.sg-homeCont .row.mechsGameHm::before{ right: 0; display: none; }
   .hdrHeadInt .row.hGrpTitHead img{ vertical-align: text-top; }
   .lgBGFllWdth .offTpCrc{ top: 30px; margin-bottom: 50px ; }
   .bubbleCrcLG.whtBbl{ margin: -20px auto 20px; }
   .artclDarelG{ padding-left: 10%; }
   #prizesHome{  top: 0px; }
   #prizesHome .ovrfwd, .mechsGameHm .ovrfwd{ position: relative; margin-bottom: 30px; margin-left: auto; margin-right: auto;  }
    #prizesHome .ovrfwd.rght{ bottom: auto; right: auto; margin-bottom: 30px; margin-top: 40px; }
    .mechsGameHm .ovrfwd.left{ margin-top: -40px; }
    .mechsGameHm .ovrfwd{ bottom: auto; }
    #prizesHome .nvsBtnsCta{ position: relative; right: auto; max-width: 100%; min-width: 100%; text-align: center; }
   #prizesHome{ /*float: left;*/ padding-left: 0; left: 0; }
   .figPrizeHm{ display: block; margin-left: 10%; }
   .figPrizeHm img{ display: block; margin: 20px auto 10px; }
    .figPrizeHm figcaption{ position: absolute; top: 30px; width: 100%; display: block; left: 0; }
    .figPrizeHm .icoPos{ margin-top: 20px; left: 0; top: 0; }
    .figPrizeHm figcaption p{ min-width: 100%; max-width: 100%; padding-right: 30px; }
  .toMidVrtcll img:first-child{ margin-left: 0%; }
    #scrlldLstWinnrs{ max-width: 95%; }
    #scrlldLstWinnrs .winnersList li h5:first-child, #scrlldLstWinnrs .winnersList li h5:last-child{ max-width: 100%; min-width: 100%; text-align: center; }
     #scrlldLstWinnrs .winnersList li h5 span{ display: table-cell; text-align: left; padding-left: 0; margin-left: -50px; }
    .sldPrizesLG{ margin-top: 0; padding-left: 25px; }
    .sldPrizesLG h5{ padding-left: 15px; text-align: center; }
    .sldPrizesLG .figDareLG.crrntDareFig figcaption span.ref{ text-align: center; display: block; }
     .sldPrizesLG .figDareLG img{ text-align: center; margin: 0 auto; display: block;  width: auto; height: auto; max-width: 100%;  }
     .sldPrizesLG .figDareLG.crrntDareFig figcaption{ position: relative; left: 0; right: 0;  }
     .sldPrizesLG .nvsBtnsCta.text-left{ text-align: center !important; }
    .messageMomLG.bnnrIntrMsg h3{ font-size: 30px }
    .toMidVrtcll .lftBrdrGray{ padding-right: 3%; margin-top: 30px; }
    .sg-intCont .row article.col-xs-12.col-md-5.col-sm-12 img{ margin: 0 auto; display: block; }
    .toMidVrtcll .nvsBtnsCta.text-left{ text-align: center !important; }
    .leftSid .row p.text-center{ margin-bottom: 80px; }
}

@media (max-width: 979px) {
    .winnersList li:not(:first-child) h5{ display: table; }
    .winnersList li h5.childInfo, .winnersList li h5.momInfo, .winnersList li h5.prizeInfo, .winnersList li h5.dateInfo{ min-width: 100%; max-width: 100%; }
    .winnersList li h5.momInfo{ padding-left: 70px; }
    .winnersList li h5.prizeInfo{ text-align: center; }
        .winnersList li.titleWinners h5:nth-child(2){ padding-left: 16.5%; }
        .winnersList li.titleWinners h5:last-child{ padding-left: 5.5%; }
}

@media only screen and (min-width:769px) {
  .hdrHeadInt .row.maxWidth{ text-align: center; }
    .hdrHeadInt .row.hGrpTitHead.maxWidth{ text-align: left; }
  .sg-head .container{ width: 1180px; }
  .navSocialHead{ margin-top: 20px; padding-top: 0; }
  .navbar-collapse.collapse{ display: inline-block !important; }
  .figPrizeHm{ position: relative; margin-top: 80px; z-index: 1; min-height: 450px; }
  .navHead li:nth-child(even){ display: inline-block; }
  #przHm1{ top: 120px; left: 200px; position: absolute; z-index: 3; }
  #przHm2{ top: 50px; left: 630px; position: absolute; z-index: 3; }
    #przHm2 figcaption{ left: 60px; }
    #przHm2 .icoPos{ left: 50px; }
  #przHm3{ top: -25px; left: 435px; position: absolute; z-index: 2; }
    #przHm3 figcaption{ left: -40px; }
    #przHm3 .icoPos{ left: -50px; }
  #przHm4{ top: 290px; left: 560px; position: absolute; z-index: 4; }
    #przHm4 figcaption{ bottom: 0; top: 110px; left: -35px; bottom: 0px; }
    #przHm4 figcaption p{ padding-left: 0; position: relative;  }
    #przHm4 .icoPos{ position: absolute; bottom: 0; left: 98%; top: 55px; }
  #przHm5{ top: 400px; left: 330px; position: absolute; z-index: 3; }
     #przHm5 figcaption{ position: relative; top: -40px; left: 40px; }
      #przHm5 figcaption p{ padding-left: 0;  padding: 0;}
     #przHm5 .icoPos{ position: absolute; left: 110px; top: 20px; }
  #przHm6{ top: 340px; left: 60px; position: relative; z-index: 4; }
     #przHm6 figcaption{ bottom: 0; top: 90px; }
       #przHm6 figcaption p{ padding-left: 0; }
     #przHm6 .icoPos{ position: absolute; bottom: 0; top: 20px; left: -50px }
}


